.ListItem {
	align-items: baseline;
	display: flex;
	flex-direction: row;
	font-size: 1.2em;
}

.ListItem-checkbox {
	accent-color: var(--color-accent);
}

.ListItem-label {
	margin-left: 0.2em;
}

/* item status styling */
.item-status {
	padding-left: 5px;
}

.item-inactive {
	color: #6f737c;
}

.item-overdue {
	color: #d9534f;
}

.item-short {
	color: #f0ad4e;
}

.item-mid {
	color: #5cb85c;
}

.item-long {
	color: #5bc0de;
}
